# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSBuild

on:
  workflow_dispatch: {}

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: refs/heads/master
      
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Platform=x64 /p:PlatformToolset=v143 /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Prepare Upload
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
            powershell -Command "& { Get-ChildItem './x64/Release/App6' -Recurse | Where-Object { -not ($_.PSIsContainer) -and ($_.Extension -notin '.pdb','.exp','.lib','.xbf','.winmd') } | ForEach-Object { $t='.\\artifact_temp\\'+($_.FullName.Substring((Get-Item './x64/Release').FullName.Length+1)); $p=Split-Path $t; if(-not (Test-Path $p)){New-Item -ItemType Directory $p | Out-Null}; Copy-Item $_.FullName $t -Force } }"
            powershell -Command "Invoke-WebRequest -Uri 'https://www.nuget.org/api/v2/package/Snap.Hutao.UnlockerIsland/1.4.6' -OutFile './island.zip'"
            powershell -Command "Expand-Archive -Path './island.zip' -DestinationPath './island'"
            powershell -Command "Copy-Item -Path '.\island\runtimes\win-x64\native\Snap.Hutao.UnlockerIsland.dll' -Destination '.\artifact_temp\App6\nvhelper.dll' -Force"
            powershell -Command "Rename-Item -Path '.\artifact_temp\App6\App6.exe' -NewName 'toolbox.exe'"
            powershell -Command "Rename-Item -Path '.\artifact_temp\App6\App6.pri' -NewName 'toolbox.pri'"
            
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        path: ${{ github.workspace }}\artifact_temp\*

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
       tag_name: refs/heads/master
       release_name: Release refs/heads/master
       body: prerelease
       draft: false
       prerelease: true
